[Desktop Entry]
Version=1.0
Name=ARC Job Submission Tool
GenericName=Job Submission Tool
Comment=Submit jobs to the Grid
Exec=arcsub-ui
Icon=system-config-authentication
Terminal=false
Type=Application
Categories=Network;WebBrowser;
