[Desktop Entry]
Version=1.0
Name=ARC Certificate Utility
GenericName=Certificate Utility
Comment=Converts between X509 and PKCS12 certificates
Exec=arccert-ui
Icon=system-config-authentication
Terminal=false
Type=Application
Categories=Network;WebBrowser;
